body {
  background-image: url('../img/Beach.png');
  background-size: cover;
  background-repeat: no-repeat;
    font-family: 'Open Sans', 'sans-serif';
}

main {
  min-width: 1000px;
}

.div1 {
  display:inline-block;
  position: relative;
  width: 300px;
  border: 15px solid green;
  padding: 25px;
  margin: 20px;
  left: 1400px;
  top: -60px;
}

.div2 {
  display:inline-block;
  position: relative;
  width: 300px;
  border: 15px solid green;
  padding: 25px;
  margin: 20px;
  left: -400px;
}

.div3 {
  display:inline-block;
  position: relative;
  width: 300px;
  border: 15px solid green;
  padding: 25px;
  margin: auto;
  left: -100px;
  bottom: -500px;
}

ul {
  border: 1px solid black;
  background-color: gray;
  text-emphasis: inherit;
  font-size:25px;
  margin: auto;
}

h1{
  background-color:green;
  text-align: center;
}

h2{
  position: relative;
  background-color: bisque;
  text-align: center;
  top:-5px;
}

.locationsBold {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

.hoursBold {
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

p {
  font-size:25px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid black;
}

.salmon-cookie {
  border: 3px solid black;
  position: relative;
  left: 350px;
}

.ulProduct {
  position: relative;
  top: 25px;
  text-align: center;
}

.liContact {
  font-weight: bold;
  margin: auto;
}

.sales {
  position: absolute;
  top: 25px;
  text-align: center;
}

#imgContainer {
  display: flex; 
  justify-content: space-between;
}

#imgContainer img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

#imgContainer2 img {
height: 200px;
width: 200px;
display: inline-block;
justify-content: space-between;


}

#imgContainer2 img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

input:valid {
  border: 2px solid green;
}

input:invalid {
  border: 2px solid red;
}


    